
@model Models.Product
@{
    ViewData["Title"] = "_Product";
    ViewBag.Headline = "ProductDetails";
}

@if (Model != null)
{
    <div class="card h-50 w-50">



        @{
            if (Model.Picture1 != null)
            {
                <img src="data:image/png;base64, @Convert.ToBase64String(Model.Picture1)" height="200">
            }
            else
            {
                <img src="~/Pics/NoImage.png" />
            }
        }

        <h1>name: @Model.Title</h1>

        <p class="price"> price: @Model.Price</p>
        <p>Date add: @Model.Date.ToString("dd/MM/yyyy")</p>
        <p>discription: @Model.ShortDiscription</p>
        <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@Model.Id">Details</a>
        <a asp-action="AddToUserCart" asp-controller="Home" asp-route-id="@Model.Id"> Add to cart</a>


    </div>

}

